extends layout

block content

    h1 #{title}

    div

        each post in posts

            div.post

                h2 #{post.title}

                h4 #{post.user.first_name}
                p #{post.message}
                p #{post.messageCreatedDate}