extends layout

block content

    h1 #{title}

    div

        each post in posts

            div.post

                h2 Post Title: #{post.title}

                h4 Username: #{post.username}
                p Post: #{post.message}
                p Date Posted: #{post.date}